body, html {
	margin: 0;
	background: #EFEFEF;
}

body {
	@extend .font-body;
	color: $color-body-text;

	background-image: inline-image("vinyl.jpg");
	background-size: cover;
	background-attachment: fixed;
}

* {
    @include box-sizing(border-box);
    position: relative;
    margin: 0;
    padding: 0;
    @include user-select(none);
    
    &:focus {
        outline: none;
    }
}

h1, h2, h3 {
	@extend .font-headline;
}

h2, h3, h4 {
	color: $color-headline-text;
}

p, ol, ul {
	font-weight: 400;
}

a {
	color: inherit;
	text-decoration: none;
}