body, html {
	margin: 0;
	background: #EFEFEF;
}

body {
	@extend .font-body;
	color: $color-body-text;
	@extend .minty-background;
}

.minty-background {
	// background-image: inline-image("mint-blur.jpg");
	background-color: $color-body-text;
	// background-size: cover;
	// background-position: 50% 50%;
	// background-attachment: fixed;
}

* {
    @include box-sizing(border-box);
    position: relative;
    margin: 0;
    padding: 0;
    @include user-select(none);
    
    &:focus {
        outline: none;
    }
}

h1, h2, h3 {
	@extend .font-headline;
}

h2, h3, h4 {
	color: $color-headline-text;
}

p, ol, ul {
	font-weight: 400;

	@include media($breakpoint-3-tablet-portrait) {
	    // @include adjust-font-size-to(em(21));
	}
	@include media($breakpoint-2-mobile-landscape) {
	    // @include adjust-font-size-to(em(19));
	}
	@include media($breakpoint-1-mobile-portrait) {
	    // @include adjust-font-size-to(em(17));
	    @include rempix(font-size, 19px);
	    @include rempix(line-height, 29px);
	}
}

@include media($breakpoint-3-tablet-portrait) {
    h2 {
    	@include rempix(font-size, 25px);
    	@include rempix(line-height, 35px);
    }
}
@include media($breakpoint-2-mobile-landscape) {
    h2 {
    	@include rempix(font-size, 23px);
    	@include rempix(line-height, 33px);
    }
}
@include media($breakpoint-1-mobile-portrait) {
 	h2 {
    	@include rempix(font-size, 21px);
    	@include rempix(line-height, 31px);
    }
}

a {
	color: inherit;
	text-decoration: none;
}