body, html {
	margin: 0;
}

html {
    background: $color-body-text;
}

body {
	@extend .font-body;
	background: $color-site-background;
    color: $color-body-text;
	@extend .minty-background;
}

* {
    @include box-sizing(border-box);
    position: relative;
    margin: 0;
    padding: 0;
    @include user-select(none);
    
    &:focus {
        outline: none;
    }
}

h1, h2, h3 {
	@extend .font-headline;
}

h2, h3, h4 {
	color: $color-headline-text;
}

h2 {
    @include rempix(font-size, 27px);
    @include rempix(line-height, 37px);
}
h3 {
    @include rempix(font-size, 22px);
    @include rempix(line-height, 32px);
}

p, ol, ul {
	font-weight: 400;
	
	@include media($breakpoint-1-mobile-portrait) {
	    @include rempix(font-size, 19px);
	    @include rempix(line-height, 29px);
	}
}

ol, ul {
	li {
		@include rempix(margin-bottom, 9px);
	}
}

@include media($breakpoint-3-tablet-portrait) {
    h2 {
    	@include rempix(font-size, 25px);
    	@include rempix(line-height, 35px);
    }
    h3 {
        @include rempix(font-size, 20px);
        @include rempix(line-height, 30px);
    }
}
@include media($breakpoint-2-mobile-landscape) {
    h2 {
    	@include rempix(font-size, 23px);
    	@include rempix(line-height, 33px);
    }
    h3 {
        @include rempix(font-size, 18px);
        @include rempix(line-height, 28px);
    }
}
@include media($breakpoint-1-mobile-portrait) {
 	h2 {
    	@include rempix(font-size, 21px);
    	@include rempix(line-height, 31px);
    }
    h3 {
        @include rempix(font-size, 17px);
        @include rempix(line-height, 27px);
    }
}

a {
	color: inherit;
	text-decoration: none;
}

hr {
    border: none;
    border-top: 1px solid #3b558c;
}

blockquote {
    border-left: 12px solid lighten($color-body-text, 63%);
    padding-left: 12px;
}