// Breakpoint settings
$metrics-1-mobile-portrait-width: 479px; // max-width
$metrics-1-mobile-portrait-gridcolumns: 4; // whith 3 columns of thumbnails
$metrics-2-mobile-landscape-width: 767px; // max-width
$metrics-2-mobile-landscape-gridcolumns: 8;// whith 4 columns of thumbnails
$metrics-3-tablet-portrait-width: 979px; // max-width
$metrics-3-tablet-portrait-gridcolumns: 12;// whith 4 columns of thumbnails

// Breakpoints
$breakpoint-1-mobile-portrait: new-breakpoint(max-width $metrics-1-mobile-portrait-width $metrics-1-mobile-portrait-gridcolumns);
$breakpoint-2-mobile-landscape: new-breakpoint(max-width $metrics-2-mobile-landscape-width $metrics-2-mobile-landscape-gridcolumns);
$breakpoint-3-tablet-portrait: new-breakpoint(max-width $metrics-3-tablet-portrait-width $metrics-3-tablet-portrait-gridcolumns);