.icon {
	display: block;
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
}

.icon-arrow-left {
	background-image: inline-image("svg/icon-arrow-left.svg");
}
.icon-arrow-right {
	background-image: inline-image("svg/icon-arrow-right.svg");
}
.icon-cross {
	background-image: inline-image("svg/icon-cross.svg");
}