.l-header {
	width: 100%;
	@include rempix(height, $metrics-header-height);
	@include rempix(line-height, $metrics-header-height);
	background: $color-header-background;
	position: fixed;
	z-index: 1000;
	@include user-select(none);
	border-bottom: 2px solid $color-site-background;
}
.l-footer {
	@include rempix(height, $metrics-footer-height);
	background: $color-highlighted-text;
}
.l-row {
	@include rempix(padding, 0 $metrics-site-side-margin);
}

.l-section {
	@include outer-container;
	@include rempix(padding-top, $metrics-header-height);
}
.l-contents {
	@include span-columns(12);
	@include rempix(padding, 0 $metrics-site-side-margin 72px 0);
	margin: 0 auto;
}