.l-header {
	width: 100%;
	@include rempix(height, $metrics-header-height);
	@include rempix(line-height, $metrics-header-height);
	@include rempix(padding, 0 $metrics-site-side-margin);
	z-index: 1000;
	@include user-select(none);
	background: $color-header-background;
	border-bottom: 2px solid $color-site-background;
	position: fixed;

	@include media($breakpoint-3-tablet-portrait) {
        position: relative;
    }
}

.l-main {
	@include rempix(padding-top, $metrics-header-height);

	@include media($breakpoint-3-tablet-portrait) {
		padding-top: 0;
    }
}

.l-container {
	@include outer-container;
}

.l-section {
	@extend .l-container;
}

.l-contents {
	@include span-columns(12);
	@include rempix(padding, 0 $metrics-site-side-margin $metrics-site-side-margin * 4 $metrics-site-side-margin);
	margin: 0 auto;

	@include media($breakpoint-1-mobile-portrait) {
        padding-bottom: rhythm(1.5);
    }
}