.banner {
	color: $color-highlighted-text;
	line-height: inherit;
	@include rempix(font-size, 21px);
	display: inline-block;
}

.post-date {
	display: none;
}

.articles {
	@include span-columns(9);
	@include shift(1.5);
	@include rempix(padding-top, 45px);
}

.post-container {
	border: 1px solid #FFF;
	@include rempix(padding, 42px);

	&:not(:last-child) {
		@include rempix(margin-bottom, 15px);
	}
}

.entry-content {
	@include span-columns(8);
	@include shift(2);
}

.post-title {
	@extend .font-headline-large;
	color: $color-headline-text;
	@include rempix(font-size, 42px);
}