/* Grid settings */
$visual-grid: false;
$visual-grid-color: green;
$visual-grid-index: front;
$visual-grid-opacity: 0.03;
$grid-columns: 12;
$gutter: 1em;
$max-width: em(980);

/* Colours */
$color-site-background: #EFEFEF;
$color-header-background: #FFFFFF;
$color-highlighted-text: #FD665C;
$color-body-text: #2C3F68;
$color-body-text-deep: #0b152E;
$color-headline-text: #588EED;
$color-hero-headline: #FFFFFF;

/* Metrics */
$metrics-site-side-margin: 30px;
$metrics-header-height: 75px;
$metrics-footer-height: $metrics-header-height * 3;