<h1 class="post-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
<div class="entry-content">
	{% unless page.meta == false %}
	  <p class="post-date">
	    {% include post/date.html %}{{ time }}
	    {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
	     | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a>
	    {% endif %}
	  </p>
	{% endunless %}

	{{ content }}
</div>
