<nav class="subnav">
	<ul class="subnav_buttons">
		
		{% if page.previous.url %}
		<li class="subnav_button subnav_button-prev">
			<a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">
				<svg viewBox="0 0 120 120" class="subnav_icon">
					<g>
						<polyline id="Right_Arrow" points="40.2,60.1 77,96.8 79.8,93.9 45.9,60 79.8,26.1 77,23.2"/>
					</g>
				</svg>
			</a>
		</li>
		{% endif %}
		{% if page.next.url %}
		<li class="subnav_button subnav_button-next">
			<a href="{{page.next.url}}" title="Previous Post: {{page.next.title}}">
				<svg viewBox="0 0 120 120" class="subnav_icon">
					<g>
						<polyline points="79.8,59.9 43,23.2 40.2,26.1 74.1,60 40.2,93.9 43,96.8"/>
					</g>
				</svg>
			</a>
		</li>
		{% endif %}

		<li class="subnav_button subnav_button-close">
			<a href="{{ root_url }}/">
				<svg viewBox="0 0 120 120" class="subnav_icon">
					<g>
						<rect x="58" y="10" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 60 144.8528)" width="4" height="100"/>
						<rect x="58" y="10" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -24.8528 60)" width="4" height="100"/>
					</g>
				</svg>
			</a>
		</li>
	</ul>
</nav>