.codeblock {
	@include rempix(margin-bottom, 32px);

	code {
		color: $color-body-text !important;
	}

	figure.code {
		@include rempix(padding, 12px);
		border-radius: $metrics-border-radius;
		border-top: 12px solid lighten($color-highlighted-text, 10%);
		font-size: 14px;
		line-height: 21px;
		background: lighten($color-highlighted-text, 60%);
	}

	.highlight {
		overflow: scroll;
		overflow-y: hidden;
		overflow-x: auto;
	}
}

.codeblock-terminal {
	@extend .codeblock;
	.gutter {
		display: none;
	}
	span {
		word-wrap: break-word;
	}
}

h3 + .codeblock {
	margin-top: 28px;
}

code {
	color: $color-go-green;
}