.footer {
	@include rempix(height, $metrics-footer-height);
	@include rempix(padding, 0 $metrics-site-side-margin);
	background: $color-highlighted-text;
	width: 100%;
}

.footer_wrapper {
	@include span-columns(12);
	@include shift(0);
}

.footer_contents {
	color: $color-body-text-invert;
	@include rempix(padding-top, $metrics-footer-height * 0.42);
	@include rempix(width, 630px);
	margin: 0 auto;
	text-align: center;

	a {
		text-decoration: underline;
	}
}


//States
@include media($breakpoint-3-tablet-portrait) {
	.footer_wrapper {
		@include span-columns(12);
		@include shift(0);
	}
	.footer_contents {
		@include rempix(padding-top, $metrics-footer-height * 0.35);
		@include rempix(width, 420px);
	}	
}
@include media($breakpoint-2-mobile-landscape) {
	.footer_wrapper {
		@include span-columns(8);
		@include shift(0);
	}
	.footer_contents {
		@include rempix(padding-top, $metrics-footer-height * 0.3);
		@include rempix(width, 300px);
	}	
}
@include media($breakpoint-1-mobile-portrait) {
    .footer_wrapper {
    	@include span-columns(4);
		@include shift(0);
    }
    .footer_contents {
    	@include rempix(padding-top, $metrics-footer-height * 0.3);
    	@include rempix(max-width, 240px);
    }
}
