.hero {
	@include rempix(height, 510px);
	background-color: $color-go-green;
	background-size: cover;
	background-position: 50% 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.has-hero {
	padding-top: 0;
	
	.post-title {
		@extend .font-headline-large;
		top: rhythm(-2);
		margin-left: rhythm(-1);
		padding: rhythm(0.5) rhythm(1);
		display: inline-block;
		color: $color-hero-headline;
		background: rgba(0, 0, 0, 0.6);
		border: 1px solid #FFF;
	}

	.entry-content {
		margin-top: rhythm(-2);
	}
}