.hero {
	@include rempix(height, 420px);
	background-size: cover;
	background-position: 50% 20%;
	background-attachment: fixed;
}

.has-hero {
	padding-top: 0;
	
	.post-title {
		@extend .font-headline-large;
		@include rempix(top, -120px);
		@include rempix(margin-left, -36px);
		@include rempix(font-size, 42px);
		@include rempix(padding, 12px 36px);
		display: inline;
		color: $color-hero-headline;
		background: rgba(0, 0, 0, 0.6);
		border: 1px solid #FFF;
	}

	.entry-content {
		@include rempix(margin-top, -30px);
	}
}