$metrics-subnav-button-size: $metrics-header-height * 0.63;

.subnav {
	float: right;
	display: inline-block;
	@include rempix(line-height, $metrics-header-height);
	@include rempix(height, $metrics-header-height);
	vertical-align: middle;

	.subnav_buttons {
		@extend .list-nostyle;
		@extend .list-inline;
		@include rempix(line-height, $metrics-subnav-button-size);
		@include rempix(height, $metrics-subnav-button-size);

		/* Use negative value to eliminate the push down caused by the border */
		@include rempix(top, -1px);
	}

	.subnav_button {
		@include rempix(width, $metrics-subnav-button-size);
		@include rempix(height, $metrics-subnav-button-size);
		@include rempix(line-height, $metrics-subnav-button-size);
		vertical-align: middle;
		text-align: center;
		border: 1px solid $color-highlighted-text;
		color: $color-highlighted-text;

		@include transition-property(background-color, border-color);
		@include transition-duration(0.15s);
		@include animation-timing-function($ease-out-back);

		&:not(:last-child) {
			@include rempix(margin-right, $metrics-subnav-button-size * 0.0625);
		}

		a {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}

// States
html:not(.touch) {
	.subnav_button:hover {
		border-color: $color-highlighted-text;
		background-color: $color-highlighted-text;

		.icon {
			fill: $color-body-text-invert;
		}
	}
}