---
layout: default
index_view: true
---
	<div class="l-section">
		<div id="content" class="l-contents">
			<div class="articles">
				{% for post in paginator.posts %}
				{% assign index = true %}
				{% assign title = post.title %}
				{% assign intro = post.intro %}
				{% assign date_text = post.date_text %}
				{% assign category = post.categories %}
				<article class="post-container">{% include article_intro.html %}</article>
				{% endfor %}
			</div>

			{% include paginav.html %}
		</div>
	</div>